@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">

    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary border-primary">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                        <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                              #  @ViewBag.CarCount
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-success border-success">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Mevcut Lokasyonlar</span>
                        <h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                               # @ViewBag.LocationCount
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-warning border-warning">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Personel</span>
                        <h5 class="card-title mb-0 text-white">Yazar Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                # @ViewBag.WriterCount
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-info border-info">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Tüm Zmanalar</span>
                        <h5 class="card-title mb-0 text-white">Toplam Blog Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                # @ViewBag.BlogCount
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->
    </div>


    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary border-primary">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Aktif Markalar</span>
                        <h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                                # @ViewBag.BrandCount
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-success border-success">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Günlük Fiyat</span>
                        <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                # @ViewBag.AvrgRentPriceForDaily ₺
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-warning border-warning">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Haftalık Fiyat</span>
                        <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                               # @ViewBag.AvrgRentPriceForWeekly ₺
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-info border-info">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Aylık Fiyat</span>
                        <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                              #  @ViewBag.AvrgRentPriceForMonthly ₺
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->
    </div>


    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary border-primary">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Otomatik Vitesli Araç Sayısı</span>
                        <h5 class="card-title mb-0 text-white">Araç Sayısı </h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                               # @ViewBag.CarCountByTransmissionIsAuto
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-success border-success">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Marka Adı</span>
                        <h5 class="card-title mb-0 text-white">En Fazla Araçlı Marka</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                 @ViewBag.BrandNameByMaxCar
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-warning border-warning">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Blog Adı</span>
                        <h5 class="card-title mb-0 text-white">En Fazla Yorumlu Blog</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @ViewBag.BlogTitleByMaxBlogComment
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-info border-info">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">1.000 Km Altındaki Araçlar</span>
                        <h5 class="card-title mb-0 text-white">Araç Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                               # @ViewBag.CarCountByKmSmallerThan1000
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->
    </div>


    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary border-primary">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Yakıt Türü</span>
                        <h5 class="card-title mb-0 text-white">Benzin Dizel Araç</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                                # @ViewBag.CarCountByFuelGasolineOrDiesel
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-success border-success">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Yakıt Türü</span>
                        <h5 class="card-title mb-0 text-white">Elektrikli Araç</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                # @ViewBag.CarCountByFuelElectric
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-warning border-warning">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Günlük Kiralama Fiyatı</span>
                        <h5 class="card-title mb-0 text-white">En Pahallı Araç</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                 @ViewBag.CarBrandAndModelByRentPriceDailyMax
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-info border-info">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Günlük Kiralama Fiyatı</span>
                        <h5 class="card-title mb-0 text-white">En Ucuz Araç</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @ViewBag.CarBrandAndModelByRentPriceDailyMin
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->
    </div>

</div>






